<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System">
			<section name="TranslatePDF.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System"
      allowExeDefinition="MachineToLocalUser"
      requirePermission="false" />
		</sectionGroup>
	</configSections>

	<userSettings>
		<TranslatePDF.Properties.Settings>
   <setting name="DeepLApiKey" serializeAs="String">
    <value></value>
   </setting>
   <setting name="SideBySide" serializeAs="String">
    <value>False</value>
   </setting>
  </TranslatePDF.Properties.Settings>
	</userSettings>

</configuration>